<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<p style="color: green"><%= notice %></p>

<h1>Команди</h1>
<div><table>
  <thead>
  <tr>
    <th>Назва</th>
    <th>Відділ</th>
    <th>Директор</th>
    <th colspan="2">Дії</th>
    
  </tr>
  </thead>

  <tbody>

    <% @teams.each do |t| %>
        <tr>
          <td><%= t.name %> </td>
          <td><%= t.department.name%> </td>
          <td><%= t.director.name %> </td>
          <td><%= link_to 'Члени команд', people_in_teams_path , class: 'btn'%></td>
          <td><%= link_to 'Подивитись', team_path(t.id), class: 'btn' %></td>


        </tr>
      <% end %>
      </tbody>
</table>

  </div>

    </p>
<div>
<%= link_to "Створити команду", new_team_path , class: 'btn'%>
<%= link_to 'На головну', root_path, class: 'btn' %>

</div></div>
