<h1>Працівники</h1>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div><table>
  <thead>
  <tr>
    <th>№</th>
    <th>ПІБ</th>
    <th>Пошта</th>
    <th>Телефон</th>
    <th colspan="2">Дії</th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person.id %></td>
        <td><%= person.name %></td>
      <td><%= person.email %></td>
      <td><%= person.phone %></td>
      <td><button><%= link_to 'Редагувати', edit_person_path(person) %></button></td>
      <td><%= button_to 'Видалити', person, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<button> <%= link_to 'Новий Працівник', new_person_path %> </button>
</div>
