<h1>New </h1>

<%= form_with  url: people_path,model: @person do |f| %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name,required: true  %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email,required: true %>
    </div>

    <div>
      <%= f.label :phone %>
      <%= f.telephone_field :phone %>
    </div>

    <%= f.submit  %>
    <%= link_to 'Повернутися до списку', people_path %>
  <% end %>

