<h1><%= @person.name %></h1>

<p><strong>Email:</strong> <%= @person.email %></p>

<p><strong>Phone:</strong> <%= @person.phone %></p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>