<h1>Редагування проекта команди</h1>

<br>
<div id="team_projects">
  <%= form_for @team_project do |f| %>

    <p>
    <div class="field">
      <p><%= f.label :team_id,"Назва команди" %>
        <%= f.collection_select :team_id, Team.all, :id, :name %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :project_id ,"Проект"%>
        <%= f.collection_select :project_id, Project.all, :id, :name %>
      </p>
    </div>

    <%= f.submit %>

    <%= link_to "Показати проект ", team_project %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to "Показати проект команди", @team_project %> |
  <%= link_to "Повернутися до списку", team_projects_path %>
</div>
