<h1>New team project</h1>

<br>
<div id="team_projects">
  <%= form_for @team_project do |f| %>

    <p>
    <div class="field">
      <p><%= f.label :team_id,"Назва команди" %>
        <%= f.collection_select :team_id, Team.all, :id, :name %>
      </p>
    </div>
    <div class="field">
      <p>
        <%= f.label :project_id ,"Проект"%>
        <%= f.collection_select :project_id, Project.all, :id, :name %>
      </p>
    </div>

    <%= f.submit "Створити"%>

    </p>
  <% end %>
</div>
<div>
  <%= link_to "Повернутися до списку проектів", team_projects_path %>
</div>
