<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<p style="color: green"><%= notice %></p>

<div>
  <h1>Інформація:</h1>
  <p><strong>Команда:</strong> <%= @team_project.team.name %></p>
  <p><strong>Проект :</strong> <%= @team_project.project.name %></p>
</div>
  <div>
  <%= link_to "Редагувати", edit_team_project_path(@team_project), class: 'btn'%> 
  <%= link_to "Повернутися до проектів", team_projects_path, class: 'btn' %>
  <%= button_to "Видалити проект команди", @team_project, method: :delete, class: 'btn' %>
</div>
