<p style="color: green"><%= notice %></p>

<div>
  <h1>Списки проектів:</h1>
  <p><strong>Команда:</strong> <%= @team_project.team.name %></p>
  <p><strong>Проект :</strong> <%= @team_project.project.name %></p>
</div>
  <div>
  <%= link_to "Редагувати", edit_team_project_path(@team_project) %> |
  <%= link_to "Повернутися до проектів", team_projects_path %>

  <%= button_to "Видалити проект команди", @team_project, method: :delete %>
</div>
