<h1>Зміни відділу</h1>

<br>
<%= form_for @department do |f| %>
  <div class="field">
    <p><%= f.label :name ,"Назва відділу"%>
      <%= f.text_field :name %>
    </p>
  </div>
  <div class="field">
    <p><%= f.label :company_id ,"Назва компанії"%>
      <%= f.collection_select :company_id, Company.all, :id, :name %>
    </p>
  </div>
  <div class="field">
    <p><%= f.label :director_id ,"Керівник"%>
      <%= f.collection_select :director_id, Person.all, :id, :name %>
    </p>
  </div>

  <%= render "form", people_in_team: @department %>

<% end %>
<div>
  <%= link_to "Показати відділ", @department %> |
  <%= link_to "Повернутися до списку відділів", department_path %>
</div>

