<h1>Відділи</h1>
<style>
th {
text-align: center;
padding: 10px 0;}
td {
    text-align: center;
}

</style>
<table>
  <thead>
  <tr>
    <th>Назва</th>
    <th>Компания</th>
    <th>Директор</th>
    <th>Дії</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @departments.each do |department| %>
    <tr>
      <td><%= department.name %></td>
      <td><%= department.company.name %></td>
      <td><%= department.director.name %></td>
      <td><%= link_to 'Show', company_department_path(department.company, department) %></td>
      <td><%= link_to 'Edit', edit_company_department_path(department.company, department) %></td>
      <td><%= button_to 'Destroy', department_path(department), method: :delete, remote: true,data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'Новий відділ', new_company_department_path(@company) %>
<%= link_to 'Повернутися до компаній', companies_path %>