<h1>Про відділи</h1>

<p><strong>Назва відділу :</strong> <%= @department.name%></p>
<p><strong>Назва компанії :</strong> <%= @department.company.name%></p>
<p><strong>Керівник :</strong> <%= @department.director.name %></p>

<%= link_to 'Редагувати', edit_company_department_path(@department) %> |
<%= link_to 'Повернутися ', company_department_path %>
<br>
<%#= button_to 'Видалити', @department, method: :delete, data: { confirm: 'Ви вневнені?' } %>
