<h1>Editing project</h1>


<br>
<%= form_for @project do |f| %>
  <div class="field">
    <p><%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>
  <div class="field">
    <p><%= f.label :descr %>
      <%= f.text_field :descr %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :leader_id,"Керівник" %>
      <%= f.select :leader_id, options_for_select(Person.all.map{ |u| [u.name, u.id] })%>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :deadline ,"Срок"%>
      <%= f.date_field :deadline%>
    </p>
  </div>

  <%= f.submit %>
<% end %>

<div>
  <%= link_to "Показати зміни", @project %> |
  <%= link_to "Повернутися до списку", projects_path %>
</div>
