<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<p style="color: green"><%= notice %></p>

<h1>Проекти</h1>

<div id="projects">
  <% @projects.each do |project| %>
        <p>
        <table>
          <tbody>
          <tr><th>Назва проекту : </th>
            <td><%= project.name %> </td> </tr>

          <tr><th>Опис : </th>
            <td><%= project.descr %> </td> </tr>
          <tr><th>Керівник : </th>
            <td><%= project.leader.name %> </td> </tr>
          <tr><th>Срок : </th>
            <td><%= project.deadline %> </td> </tr>
          </tbody>
        </table>
        <p>
      <%= link_to "Показати проект", project , class: 'btn' %>
      <%= link_to "Створити новий проект", new_project_path , class: 'btn' %>
      <%= link_to 'Проекти команд', '/team_projects', class: 'btn' %>
      <%= link_to 'На головну', root_path, class: 'btn' %>


    </p>
  <% end %>
</div>

