<p style="color: green"><%= notice %></p>


<div>

  <h1><%= @project.name %></h1>
  <p><strong>Опис проекту:</strong> <%= @project.descr %></p>
  <p><strong>Керівник:</strong> <%= @project.person.name %></p>
  <p><strong>Срок:</strong> <%= @project.deadline %></p>

  <%= link_to "Редагувати", edit_project_path(@project) %> |
  <%= link_to "Повернутися до списку", projects_path %>

  <%= button_to "Видалити", @project, method: :delete %>
</div>
