<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<h1>Редагування інформації</h1>
<div><%= form_for @company do |f| %>
  <p>
    <%= f.label :name, "Назва" %><br>
    <%= f.text_field :name, class: 'input-field' %>
  </p>

    <%= f.submit "Оновити", class: 'btn'%>

<% end %>
<%= link_to "Скасувати", company_path(@company), class: 'btn' %></div>


