<h1>New Company</h1>

<%= form_for @company do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Відмінити', companies_path %>
<% end %>
