<h1>Edit Person</h1>

<%= form_with model: @people, url: people_path(@people), local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <%= form.submit "Оновити" %>
<% end %>

<!--далі виводить текст помилки, якщо є-->
<% if @people.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@people.errors.count, "error") %> prohibited this person from being saved:</h2>

    <ul>
      <% @people.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
