<h1>Працівники</h1>

<table>
  <thead>
  <tr>
    <th>ПІБ</th>
    <th>Пошта</th>
    <th>Телефон</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.email %></td>
      <td><%= person.phone %></td>
      <td><%= link_to 'Edit', edit_people_path(person) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Новий Працівник', new_people_path %>
