<h1>New Person</h1>

<%= form_with url: peoples_path, local: true do |form| %>
  <%= form.fields_for :people do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :phone %>
      <%= f.telephone_field :phone %>
    </div>

    <%= f.submit "Створити" %>
  <% end %>
<% end %>
