<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<h1>Редагування членів команди</h1>

<br>
<%= form_for @people_in_team do |f| %>
  <div class="field">
    <p><%= f.label :team_id,"Назва команди "%>
      <%= f.collection_select :team_id, Team.all, :id, :name %>
    </p>
  </div>
  <div class="field">
    <p><%= f.label :people_id,"Члени команди" %>
      <%= f.collection_select :person_id, Person.all, :id, :name %>
    </p>
  </div>

  <%= render "form", people_in_team: @people_in_team %>

<% end %>

<div>
  <%= link_to "Показати зміни", @people_in_team %> |
  <%= link_to "Повернутися", people_in_teams_path %>
</div>
