<p style="color: green"><%= notice %></p>

<h1>Члени команди</h1>

<div id="people_in_teams">


    <p>
    <table>
      <tbody>
      <tr>
        <th>Назва команди : </th>
        <td><%= @people_in_teams.first.team.name %></td>
      </tr>

       <tr><th>Члени команди : </th>
         <td>
           <% @people_in_teams.map(&:person).uniq.each do |people_in_team| %>
             <%= people_in_team.id %>  <%= people_in_team.name %><br>
           <% end %>
         </td>
       </tr>
      </tbody>
    </table>


      <%= link_to "Показати інформацію ",people_in_team_path(@people_in_teams.first) %>
    </p>
</div>

<div>
<%= link_to "Додати нового члена команди", new_people_in_team_path %>

</div>