<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<p style="color: green"><%= notice %></p>

<h1>Члени команди</h1>

<div id="people_in_teams">


    <p>
    <table>
      <tbody>
      <tr>
        <th>Назва команди : </th>
        <td><%= @people_in_teams.first.team.name %></td>
      </tr>

       <tr><th>Члени команди : </th>
         <td>
           <% @people_in_teams.map(&:person).uniq.each do |people_in_team| %>
             <%= people_in_team.id %>  <%= people_in_team.name %><br>
           <% end %>
         </td>
       </tr>
      </tbody>
    </table>


      <%= link_to "Показати інформацію ",people_in_team_path(@people_in_teams.first), class: 'btn' %>
    </p>
</div>

<div>
<%= link_to "Додати нового члена команди", new_people_in_team_path, class: 'btn' %>
<%= link_to 'На головну', root_path, class: 'btn' %>
</div>
