<h1>New people in team</h1>

<br>
<%= form_for @people_in_team do |f| %>
  <div class="field">
    <p><%= f.label :team_id ,"Назва команди"%>
      <%= f.collection_select :team_id, Team.all, :id, :name %>
    </p>
  </div>
  <div class="field">
    <p><%= f.label :people_id,"Член команди"%>
      <%= f.collection_select :people_id, Person.all, :id, :name %>
    </p>
  </div>
  <%= render "form", people_in_team: @people_in_team %>

<div>
  <%= link_to "Показати інформацію ", people_in_team_path(f) %>
</div>
<% end %>