<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<p style="color: green"><%= notice %></p>

<% @people_in_teams.each do |people_in_team| %>
<div>
  <h1>Спиcок :</h1>

  <p><strong>Ім'я:</strong> <%= people_in_team.person.name %></p>

  <p><strong>Команда :</strong> <%= people_in_team.team.name %></p>
</div>

  <div>
  <%= link_to "Редагувати", edit_people_in_team_path(people_in_team) , class: 'btn'%> 
  <%= button_to "Видалити з команди", people_in_team, method: :delete , class: 'btn'%>

</div>
  <% end %>
  <div>
    <%= link_to "Повернутися до списків", people_in_teams_path , class: 'btn'%>
    <%= link_to "Додати нового члена команди", new_people_in_team_path , class: 'btn'%>
  </div>
