<p style="color: green"><%= notice %></p>

<%= render @people_in_team %>
<div>
  <h1>Списки :</h1>

  <p><strong>Ім'я:</strong> <%= @people_in_team.people.name %></p>

  <p><strong>Команда :</strong> <%= @people_in_team.team.name %></p>
</div>

  <div>
  <%= link_to "Редагувати", edit_people_in_team_path(@people_in_team) %> |
<p></p>
  <%= button_to "Видалити з команди", @people_in_team, method: :delete %>
</div>
